* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: Intro;
  src: url(fragile-bombers/Fragile\ Bombers.otf); /* URL to your font file */
}


body {
    background-color: black;
    font-family: 'Franklin Gothic Medium';
    overflow-x: hidden;
  }

header {
    background-color: black;
}



a#titletext {
  text-decoration: none;
  color: white;
  width: fit-content;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  position: absolute;
  left: 1%;
  font-size: 20px;
}

div.navbar {
  width: 100%;
  position: relative;
  background-color: black;
  height: 40px;
  position: fixed;
  padding-right: 100%;
  padding-top: 1.25%;
  z-index: 1;
}

div.navtext {
  height: 100%;
  display: flex;
  justify-content: right;
  padding-right: 1%;
  margin-top: -12px;
}

div.nav {
  font-size: 22px;
  padding: 20px 15px;
  /*transition: border-top 0.25s ease-out 50ms;*/
  /*transition: margin-top 0.25s ease-out 50ms;*/
}

a.navobj {
  text-decoration: none;
  color: whitesmoke;  
  font-weight: bolder;
  font-size: 1em;
  height: fit-content;
}


div.nav:hover {
  border-top: 3px solid white;
  margin-top: -2.5px;

}

div.nav#active {
  border-top: 3px solid white;
  margin-top: -2.5px;
}

/*Section Card*/

section#cards {
  height: 100vh;
  display: grid;
  place-items: center;
}

h1#Header {
  font-family: Intro;
  color: white;
  font-size: 20vmin;
  /*border: 2px solid white;*/
  padding: 0vmin 100vmin 0vmin 0vmin;
  margin-left: -10vmin;
  margin-top: 10%;
  text-wrap: nowrap;
  text-align: center;
  background-color: black;
}

.card-group,
.card {
  aspect-ratio: 5 / 7;
}

.card-group,
.big-card {
  width: 30vmin;
}

.card {
  position: absolute;
  transition: all 800ms cubic-bezier(0.11, 0.69, 0.22, 0.85);
}

.big-card {
  width: 30vmin;
  z-index: 3;
}

/*all smol cards are bascially in active
 in a default position before they are hover'd*/

.smol-card {
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /*opacity: 0%;*/
}

/*positioning big cards*/

.big-card:nth-child(1) {
  /*transform: translateX(-10%) rotate(-1.5deg);*/
  transform: translateX(-100%);
  }
/*
.big-card:nth-child(2) {
  transform: rotate(2deg);
  }

.big-card:nth-child(3) {
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(4) {
  transform: translate(10%, 2%) rotate(5deg);
}
*/
/*adding the hover affects for the big cards*/

.card-group:hover > .big-card:nth-child(1) {
  /*transform: translate(-90%, 7%) rotate(-18deg);*/
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-40%, 5%) rotate(-5.5deg);
}

.card-group:hover > .big-card:nth-child(3) {
  transform: translate(15%, 2%) rotate(3deg);
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(80%, 0%) rotate(13deg);
}

/*little card hover effects*/

.card-group:hover > .smol-card:nth-child(5) {
  transform: translate(300%, -190%) rotate(-15deg);
  opacity: 100%;
}

.card-group:hover > .smol-card:nth-child(6) {
  transform: translate(310%, 220%) rotate(10deg);
}

.card-group:hover > .smol-card:nth-child(7) {
  transform: translate(-330%, 240%) rotate(-15deg);
}

.card-group:hover > .smol-card:nth-child(8) {
  transform: translate(-250%, -200%) rotate(10deg);
}

img.imgcard {
  width: auto;
  height: 50vmin;
}

img.imgcards {
  width: auto;
  height: 7vmin;
}

/* parallax effect */

.parallax {
  /* The image used */
  background-image: url("roboparallax.png");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30%;
  padding-bottom: 30%;
}

div.caption {
  margin: auto;
  width: 50%;
  color:#ddd;
  background-color: rgba(46, 46, 46, 0.801);
  padding: 5% 25.1%;
  position: relative;
  display: flex;
}

div.floatright, div.floatleft {
  justify-content: space-between;
}

div.floatright {
  padding-left: 10%;
}

div.floatleft {
  padding-right: 3%;
  margin-left: -10%;
}

.spielimg {
  width: 40vmin;
  border-radius: 10px;
}

p.caption {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* intro portion */



/* making the slideshow portion */

section#slideshow {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;

}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 20%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
/*
#image-track > .image:hover{ 
  width: 50vmin;
  height: 66vmin;
}

*/
/*footer*/
footer {
  border-top: 1px solid #e8e8e8;
  padding: 5vmin 0;
  margin: 0 10%;
  display: flex;
}

div.footright, div.footleft {
  justify-content: space-between;
}

div.footright {
  margin-left: 25%;
  padding-left: 10%;
  margin-top: 0.6%;
}

div.footleft {
  padding-right: 3%;
  margin-left: 5%;
}

ul#contactlist {
  list-style: none;
  text-decoration: none;
}

a#contact {
  color: white;
  opacity: 0.9;
  text-wrap: nowrap;
  font-size: 6vmin;
}

a#email {
  color: white;
  text-wrap: nowrap;
  font-size: 4vmin;
  margin-top: 10%;
  text-decoration: none;
}


img.footimg {
  width: 15%;
  vertical-align: middle;
}

span.username {
  color: white;
  vertical-align: middle;
  text-decoration: none;
}

a#email:hover {
  color: orange;
  text-decoration: none;
}

span.username:hover {
  color: orange;
  text-decoration: none;
}

a#email:active {
  color: rgb(215, 118, 0);
}